@{
    // make view strongly typed 
// // now can replace viewbag with corresponding model properties 
}

@model ComicBookGallery.Models.ComicBook 

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //ViewBag.Title = "Comic Book Detail";
    ViewBag.Title = Model.DisplayText;

    //// variables
    //var seriesTitle = "The Amazing Spider-Man";
    //var issueNumber = 700;
    //var description = "<p>Final issue! Witness the final hoour of Doctor Octopus'life and his one, last, greate act of revenge! Even if Spider-Man survives... <strong> will Peter Parker?</strong></p>";
    //var artists = new string[]
    //    {
    //        "Script: Dan Slott",
    //        "Pencils: Humberto Ramos",
    //        "Inks: Victor Olazaba",
    //        "Colors: Edgar Delgado",
    //        "Letters: Chris Eliopoulos"
    //    };
}

<!-- <!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
</head>
<body>
    <div> -->
<!-- <h1>ViewBag.SeriesTitle</h1>-->
<h1>@Model.SeriesTitle</h1>
<h2>Issue #@Model.IssueNumber</h2>

<h5>Description:</h5>
<div>@Html.Raw(Model.DescriptionHtml)</div>

@if (Model.Artists.Length > 0)
{
    <h5>Artists: </h5>
    <div>
        <!-- artists -->
        <ul>
            @foreach (var artist in Model.Artists)
        {
                <!-- <li>* artist</li> -->
                <li>* @artist.Role: @artist.Name</li>
            }
        </ul>
    </div>
}

<!--    
     </div>
</body>
</html>

    -->
